body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.card {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}